<!DOCTYPE html>
<html>
<head>
    <title>Module 1</title>
</head>
<body>
    <h1>Similar Employees</h1>
    <ul>
        {% for employee_details in similar_employee_details %}
            <li>
                <strong>Employee ID:</strong> {{ employee_details.EMPLOYEE_ID }}<br>
                <strong>Name:</strong> {{ employee_details.EMPLOYEE_NAME }}<br>
                <strong>Email:</strong> {{ employee_details.MAIL }}<br>
                <strong>Credit Score:</strong> {{ employee_details.CREDIT_SCORE }}<br>
                <strong>Profile:</strong> <a href="#">{{ employee_details.PROFILE }}</a><br>
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>
